* {
  box-sizing: border-box; /*  */
  margin: 0;
  padding: 0;
  /*border: 1px soliyd rgb(106, 238, 255);*/
}

html,
body {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.grey1 {
  color: #192a3e;
}
.grey2 {
  color: #323c47;
}
.grey3 {
  color: #4c5862;
}
.grey4 {
  color: #707683;
}
.grey5 {
  color: #a5abb0;
}
.blue1 {
  color: #109cf1;
}

/*------------- basic structure--------------*/

.sidenav {
  flex-basis: 20%;
  min-width: 230px;
}
.main-content {
  background-color: rgb(255, 255, 255);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top_nav {
  display: flex;
  position: relative;
  max-height: 110px;

  padding: 12px 15px;
}

.masa {
  flex-grow: 1;
  background-color: #e5e5e5;
  display: flex;
}

/*right_side*/
.right_side {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/*left side*/
.left_side {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin: 30px 0 30px 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.task_completed {
  margin-bottom: 30px;
}

.week {
  margin-bottom: 20px;
}

.graphtext span {
  margin: 0px 0 0 5px;
}

/*------------- basic structure  end--------------*/

/*--------------- top nav bar-----------------*/
.top_nav p {
  align-self: center;
  margin: 0 0 0 5px;
}
.bell {
  margin-left: auto;
}

/*--------------- side nav bar-----------------*/
.profile_name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /*float: right;*/
}

.profile_mail {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 30px;
  /*float: right;*/
}

.sidenav > img {
  float: left;
  margin: 0 15px 0 0;
}

.sidenav {
  font-size: 22px;
  padding: 14px 1.5% 24px 1.5%;
  box-shadow: 4px 0px 18px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.sidenav .headline {
  color: #109cf1;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}

.sidenav li {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  margin: auto;

  margin: 18px 0 0 0;
  display: block;
}

hr {
  z-index: 3;
  margin: 30px -3% 0 -3%;
  padding: 0;
  height: 1px;
  border: 0;
  background-color: #e6e6e6;
}

.top_line {
  position: fixed;
  height: 1px;
  background-color: #d8d8d8;
  width: 100%;
  left: 0;
  top: 48px;
  padding: 0;
}

.sidenav ul img {
  margin: 0 12px -6px 0;
}

.sidenav li span {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidenav li span:hover,
.sidenav li span:hover svg {
  cursor: hand;
  color: #109cf1;
  stroke: #109cf1;
}

svg {
  margin: 0 12px 0px 0;
  stroke: #109cf1;
  stroke: #a5abb0;
  fill: transparent;
}

.sidenav li:last-child svg {
  margin: 0px 12px 2px 0;
  fill: #a5abb0;
  background-color: ;
}

/*---------------tast_box-----------------*/

/*---------------progressline-----------------*/
.progressline {
  width: 80%;
  margin: -4px 0 10px 0;
  height: 4px;
  background-color: #2ed47a;
  border-radius: 100px;
}

.fullline {
  width: 100%;
  height: 4px;
  background-color: #ebeff2;
  border-radius: 100px;
}
/*---------------progressline end-----------------*/

/*--------------task_completed----------------*/

.task_completed {
  margin: 20px;
}

.task_completed .headline {
  color: #323c47;
  font-size: 13px;
  margin-bottom: 14px;
  font-weight: 500;
}

.task_completed p {
  color: #323c47;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 600;
}

.task_completed img {
  margin: 7px 0 0 5px;
}

.task_completed span {
  margin: 0px 0 0 5px;
}

/*--------------task_completed  end----------------*/

.tast_box .headline {
  color: #323c47;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 500;
  margin: 4px 0 5px 0;
}

.description {
  font-size: 12px;
}

.alignleft {
  text-align: left;
}
.alignright {
  float: right;
}

/*---------------the tasks-----------------*/
.tast_box {
  margin: 20px 20px;
  background-color: rgb(255, 255, 255);
  padding: 16px;
  position: relative;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
}

.tast_box img {
  margin: 20px 10px -6px 0;
}

button {
  width: 84px;
  height: 25px;
  background-color: #2ed47a;
  color: white;
  border: 0;
  border-radius: 5px;

  font-size: 11px;
  position: absolute;
  bottom: 14px;
  right: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #f7685b;

  cursor: hand;
}

button:hover:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translatex(-100%);
  margin: 0 0 0 -10px;
  display: inline-block;

  background-size: 60px 20px;

  width: 60px;
  height: 20px;
  content: "";

  background-image: url("../img/hover.svg");
}

/*---------------dateSelect-----------------*/

.dateSelect {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 11px;
  padding: 0 15px;
  margin: 0 5px; /*center*/
}
.dateSelect ul {
  list-style: none;

  /* width: 700px;*/
}

.dateSelect li {
  display: inline;
  text-align: center;
  margin: 2%;
}

.dateSelect:first-child {
  color: #707683;
}

.dateSelect li span:first-child {
  color: #192a3e;

  margin-bottom: 44px;
}

.dateSelect:first-child li:first-child .day {
  background-color: #109cf1;
  color: #ffffff;
  height: 25px;
  width: 25px;
  border-radius: 55px;
  display: inline-block;
  padding: 3px;
  margin-top: 5px;
}

.dateSelect li:nth-child(2),
.dateSelect :nth-child(2) .day {
  color: #109cf1;
}

.dateSelect li:hover > .day {
  background-color: #109cf1;
  color: #ffffff;
  height: 25px;
  width: 25px;
  border-radius: 55px;
  display: inline-block;
  padding: 3px;
}

/*
.taskes:last-child p:last-child{
    background-color: #2ed47a;
}
*/

.text_button {
  margin-top: 30px;
  text-align: center;
  color: #109cf1;
  font-weight: 600;
}

/*------------- graphsss-------------*/

.graph {
  background-color: rgb(255, 255, 255);
  flex: 1;
  margin: 30px 30px 0 30px;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart1 img,
.chart2 img {
  max-width: 100%;
  border-radius: 5px;
}

.graphonly {
  margin: auto;
}

.chart1 img,
.chart2 img {
  margin: 7px 0 0 5px;
}

.weakline {
  height: 1px;
  background-color: #e4e4e4;
  margin: 0 -20px;
  margin-top: 15px;
}

.graphtext {
  margin-bottom: 20px;
  align-self: stretch;
}

.graphtext p {
  color: #192a3e;
  font-weight: 600;
}

.information_from_chart {
  margin-top: 15px;
}

.information_from_chart span {
  margin: 0 5px;
  font-size: 12px;
}

.information_from_chart svg {
  margin: 0;
}

.graph_wide {
  width: 100%;
  display: flex;
}

.graph_wide_text {
  margin: auto;

  display: flex;
  flex-direction: column;
  width: 150px;
}

.graph_wide .graphonly {
  margin-right: 15px;
}

@media screen and (max-width: 990px) {
  .sidenav {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .sidenav {
    display: none;
  }

  .masa {
    flex-direction: column;
  }

  .left_side {
    margin: 15px;
  }
}
